{% extends 'NewsApp/default.html' %}

{% load my_filter %}

{% block title %}
  <h2>Список новостей</h2>
{%  endblock title %}
{% block content %}
{% if  is_not_subscriber  %}
<p class="text-center"><a href="{% url 'subscribe' category.id  %}"class="btn btn-secondary btn-sm">Subscribe</a></p>
{% endif %}
 <h3>Список новостей</h3>
{% if perms.NewsApp.create_news %}
<a href="{% url 'create_news' %}">Create News</a>
{% endif %}

{% if category_news_list %}
<table>
    <tr>
        <td>Title</td>
        <td>Date Creation</td>
        <td>Part Text</td>
        <td>Category</td>


        {% if perms.NewsApp.edit_news or perms.NewsApp.delete_news or perms.NewsApp.edit_article or perms.NewsApp.edit_article %}
        <td>Actions</td>
        {% endif %}
    </tr>

  <ul>
    {% for post in category_news_list %}
      <tr>
        <td><h3>{{ post.title|censor }}</h3>></td>
        <td>{{ post.dateCreation}}</td>
        <td>{{ post.text|censor|truncatechars:20 }}</td>
      <td>
          {% if perms.NewsApp.edit_news %}
          <a href="{% url 'edit_news' pk=post.id %}">Change</a> </td>
          {% endif %}
        <td>
          {% for category in post.category.all %}
            <a href="{% url 'category_list' pk=category.id %}">{{ category }}</a>
          {% endfor %}
        </td>
<!--      {% if perms.NewsApp.edit_article %}-->
<!--      <a href="{% url 'edit_article' pk=post.id %}">Change</a> </td>-->
<!--      {% endif %}-->
      <td>
      {% if perms.NewsApp.delete_news %}
      <a href="{% url 'delete_news' pk=post.id %}">Delete</a> </td>
      {% endif %}
<!--      {% if perms.NewsApp.delete_article %}-->
<!--      <a href="{% url 'delete_article' pk=post.id %}">Delete</a> </td>-->
<!--      {% endif %}-->
</tr>
    {% endfor %}
  </ul>
</table>
{% else %}
<h2>No NEWS!</h2>
{% endif %}
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_nuber != 1 %}
        ...
        <a href="?page={{ page_obj.previous_page_number }}"> {{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> {{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}
