{% extends 'NewsApp/default.html' %}

{% block title %}
Subscriptions
{% endblock title %}

{% block content %}
  {% for category in categories %}
    <p>
      {{ category.name }}
      <form method="post">
        {% csrf_token %}
      <input type="hidden" name="category_id" value="{{ category.id }}" />

      {% if category.user_subscribed %}
        <button disabled>Unsubscribe</button>
        <button name="action" value="unsubscribe">Subscribe</button>
      {% else %}
        <button name="action" value="subscribe">Unsubscribe</button>
        <button disabled>Subscribe</button>
      {% endif %}
</form>
    </p>
{% endfor %}
{% endblock content %}